  .login, .signup {
    overflow: hidden;
    background-color: #171717;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    left: 30%;
    width: 40vw;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    z-index: 20;
    margin-bottom: 50px;
  }
  .login::before, .login::after, .signup::before, .signup::after {
    content: '';
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  .login::before{
    left: 40%;
    top: 20%;
    background-color: rgb(255 194 84);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
  }
  .signup::before {
    left: 40%;
    top: 20%;
    background-color: rgb(145 0 255);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
  }
  .login::after, .signup::after {
    left: 20%;
    top: 45%;
    background-color: rgb(101 101 101 / 20%);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
  }
  .login > input, .signup > input {
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }

  .login .v-btn, .signup .v-btn {
    cursor: pointer;
    color: #fff;
    font-size: 16px !important;
    text-transform: uppercase;
    width: 80px !important;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }

  .login .v-btn{background: rgb(255 153 0) !important;}
  .signup .v-btn {background-color: #a23bff !important;}
  .login .v-btn:hover {background: rgb(255 212 0) !important;} 
  .signup .v-btn:hover {background-color: #b766ff !important;}
  
  @-webkit-keyframes wawes {
    from {
      -webkit-transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes wawes {
    from {
      -moz-transform: rotate(0);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes wawes {
    from {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to { opacity: 1 }
}
  
.signup > input:focus, .signup > button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #8756ff;
    transition: 0.2s;
}

.login > input:focus, .login > button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(255 153 0);
  transition: 0.2s;
}